name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: |
            mbstring
            dom
            libcrypto
            # Add other extensions if required
      - name: Update Composer dependencies
        run: composer update --no-ansi --no-interaction --no-progress --no-scripts --no-suggest
      - name: Install Composer dependencies
        run: composer install --no-ansi --no-interaction --no-progress --no-scripts --no-suggest
      - name: Copy environment file
        run: cp .env.example .env
      - name: Generate application key
        run: php artisan key:generate
      - name: Run tests
        run: vendor/bin/phpunit
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: |
            mbstring
            dom
            # Add other extensions if required
      - name: Update Composer dependencies
        run: composer update --no-ansi --no-interaction --no-progress --no-scripts --no-suggest
      - name: Install Composer dependencies
        run: composer install --no-ansi --no-interaction --no-progress --no-scripts --no-suggest --optimize-autoloader --no-dev
      - name: Copy environment file
        run: cp .env.example .env
      - name: Generate application key
        run: php artisan key:generate --force
      - name: Deploy to Production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd /var/www/html/cicd-example-app-02
            git pull
